[phases.setup]
nixPkgs = ["nodejs-22_x", "playwright-driver"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm build", "npx playwright install --with-deps chromium"]

[start]
cmd = "pnpm start"
